@layer base {

    ::selection {
        background-color: var(--detail-medium-contrast);
    }

    ::-moz-selection {
        background-color: var(--detail-medium-contrast);
    }

    :root {
        --header-height: 212px;
    }

    html {
        font-family: var(--font-raleway), sans-serif;
        font-style: normal;
        line-height: 1.5;
        font-size: 1rem;
        letter-spacing: var(--tracking-wide);
        scrollbar-gutter: stable both-edges;
        scrollbar-color: transparent transparent;
    }

    @media (max-width: 768px) {
        html {
            font-size: 0.9375rem;
        }
    }

    @media (max-width: 480px) {
        html {
            font-size: 0.875rem;
        }
    }

    body {
        margin: 0;
        min-height: 100%;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {}

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    ul,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    img {
        display: block;
        max-width: 100%;
    }

    button {
        cursor: pointer;
    }

    input,
    textarea,
    select {}

    .container {
        @apply w-full max-w-96 mx-auto px-4;
    }

    .section {
        position: relative;
    }
}