@import "./fonts.css";

@theme {
  --font-raleway: "Raleway";
  --font-roboto: "Roboto Condensed";

  /* TEXT */
  --color-text: #1D1F22;
  --color-text-light: #FFFFFF;
  --color-info-variant: #8D8F9A;

  /* PRIMARY */
  --color-primary: #5ECE7B;

  /* BUTTON */
  --color-button: oklch(0.77 0.16 149.73);
  --color-button-hover: #FFFFFF;
  --color-button-active: #5ECE7B;

  /* SURFACE */
  --color-surface: #EEEEEE;

  /* OVERLAY */
  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-border: #E5E5E5;

  /* BACKGROUND */
  --color-bg: #FFFFFF;
  --color-bg-secondary: oklch(0.77 0.16 149.73);
  --color-bg-accent: #5ECE7B;
  --color-bg-dark: #1D1F22;
  --color-bg-overlay: rgba(0, 0, 0, 0.5);

  --detail-medium-contrast: rgb(234, 234, 234);
  --text-body: rgb(54, 49, 61);

  --color-link: #0000FF;
}

.dark {
  --color-bg: #000000;
  --color-text: #ffffff;

  --color-surface: #1a1a1a;
  --color-border: #43464e;

  --color-primary: #1dcf65;
  --color-primary-foreground: #000000;
}
